################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InitDatabase/obj/Debug/net7.0/InitDatabase.sourcelink.json
/.vs/InitDatabase/FileContentIndex
